.item_card {
  padding: 1em;
  background-color: white;
  border-radius: 0.4em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 15em;
  height: 18em;
  color: #49465A;
  font-weight: 500;
  box-shadow: 4px 8px 10px #ccc;
  border: 2px solid #49465A;
}

.item_card h2{
  text-align: center;
  margin: 0;
}

.price {
  font-weight: bold;
}

.item_image {
  width: 5em;
  height: auto;
}

.item_card_bottom {
  display: flex;
  gap: 2em;
  align-items: center;
}

.item_card_bottom button {
  margin-left: auto;
  background-color: transparent;
  font-weight: bold;
  color: #49465A;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

.quantity_buttons {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.quantity_buttons button {
  width: 2em;
  padding: 0.2em;
  background-color: transparent;
  font-size: 1.2em;
  border: 2px solid #49465A;
  border-radius: 0.4em;
  cursor: pointer;
}
